/*SASS//Pincipales caracteristicas*/

//1) Puedo anidar selectores.
//2) Puedo trabajar con variables.
@import "condicional","footer","variables","galeria","mixin";


h1 {
  color: $color_1;
  text-align: center;
  
}

form {
  box-sizing: border-box;
  width: 100%;
  padding: 12px;
}



p {
  text-align: center;
  font-size: 1.5rem;
  color: $color_3;
}

/*aca tamaño de las img del carrusel*/
/*CARRUSEL ACA*/

.tamaño {
  height: 550px;
  border-radius: 80px;
  padding: 50px;
  object-fit: fill;

}

div.gallery {
  margin: 20px;
  width: 180px;
  float: left;
  border: 2px solid #ccc;
  background-color:rgb(178, 213, 201)
}

div.gallery img {
  width: 100%;
  height: auto;

}

div.desc {
  padding: 5px;

  text-align: center;

}

p {
  font-size: 15px;
}